@import-normalize; /* bring in normalize.css styles */

html {
  height: 100%;
}

body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(147deg, #0d0a0b 0%, #025365 74%) fixed;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 20px 0 20px 0;
  border-bottom: solid 2px rgb(86, 91, 92);
  border-top: solid 2px rgb(86, 91, 92);
}